---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | sort %}
{% assign url_beginning = page.url | slice: 0, 6 %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      Created on {{ page.date | date: '%B %d, %Y' }}
      {% if page.author %}by {{ page.author }}{% endif %}
      {% if page.last_updated %}, last updated on {{ page.last_updated | date: '%B %d, %Y' }}{% endif %}
      {% if page.meta %}• {{ page.meta }}{% endif %}
    </p>
    <p class="post-tags">
      <a href="{{ year | prepend: '/blog/' | relative_url }}"> <i class="fa-solid fa-calendar fa-sm"></i> {{ year }} </a>
      {% if tags.size > 0 %}
        &nbsp; &middot; &nbsp;
        {% for tag in tags %}
          <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}"> <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}</a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {% if page.toc and page.toc.beginning %}
      <div id="table-of-contents">
        {% toc %}
      </div>
      <hr>
    {% endif %}
    <div id="markdown-content">
      {{ content }}
    </div>
    {% if page.series %}
      {% assign filtered_posts = site.posts | filter_category: page.category | filter_series: page.series %}
      {% if filtered_posts.size > 1 %}
        <hr>
        <h2>Check all posts from this series</h2>
        {% include posts/all.liquid category=page.category series=page.series %}
      {% endif %}
    {% endif %}
  </article>

  {% if page.citation %}
    {% include citation.liquid %}
  {% endif %}

  {% if site.related_blog_posts and site.related_blog_posts.enabled %}
    {% if page.related_posts == null or page.related_posts %}
      {% include related_posts.liquid %}
    {% endif %}
  {% endif %}

  {% if site.disqus_shortname and page.disqus_comments %}
    {% include disqus.liquid %}
  {% endif %}
  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
